<% include partials/header %>
<br>
<br>
<div  id="about" class="container">
<p>Cricket App is a High Performance app designed to ensure you get your scores 24x7, 365 days a year! (More in leap years of course). 
Be confident with your usage of Cricket App - we are rock solid, always reliable and always available. 
</p>
<p>Explore</p>
<ul>
<li>Schedule of All The Matches Across The World</li> 
<li>Live Scores</li>
<li>Sign up , Login ,Sign Out</li>
<li>Add , Delete Comments...</li>
</ul>
<p>It uses the API privided by <a href="http://www.cricapi.com/">Cricapi</a>
<p>Developed By Sajeev Mahajan USICT </p>
</div>