<% include partials/header %>
  <div class="container">  
<h1>THE ULTIMATE CRICKET APP</h1>
<h2>Sign Up to get Free , high performance Live Cricket Scores , Match Schedules and lot more..</h2>
<br>
<br>
<a href="/nmatches" class="btn btn-primary btn-lg">Explore</a>
</div>
<% include partials/footer %>
